{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a href="/" class="nav-link px-2 text-secondary"><li>Home</li></a>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  <div class="features">
    <h1>Про нас</h1>
  </div>
  <div class="about-foto">
    <img src="{% static 'main/img/novosti.png' %}" alt="Новости">
  </div>
  <div class="about-text">
    <p>
        Психотерапевты считают, что большое количество новостей, поступающих из СМИ, может отрицательно влиять на психику, в особенности на психику интровертов. Этот эффект связан с тем, что в новостях, как правило, доминируют негативные сообщения о конфликтах, авариях, несчастных случаях и других проблемах, что может перегружать психику эмоционально восприимчивых людей. Таким людям врачи рекомендуют ограничивать просмотр новостных программ.
    </p>
  </div>

{% endblock %}