{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}

<div class="features">
    <h1>Контакты</h1>
</div>
<div class="contakt">
  <ul>
   <a href="https://www.youtube.com/channel/UCO9Az5cT3ynFKLDuhMJBRtg"><li><i class="bi bi-youtube"></i>YouTube</li></a>
   <a href="https://www.instagram.com/0_okraza_3/"><li><i class="bi bi-instagram"></i>Instagram</li></a>
   <a href="https://www.tiktok.com/@okraza_s21?is_from_webapp=1&sender_device=pc"><li><i class="bi bi-tiktok"></i>TikTok</li></a>
  </ul>
</div>

{% endblock %}