{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features" xmlns="http://www.w3.org/1999/html">
        <h1>Главная страница</h1>
        <h6>
            News - operational information that is of political, social or economic interest for television in its freshness, that is, reports of events that have occurred in the near future or have arisen at the moment. Also, news is called programs (a collection of several news) on television and radio, and in the print press or on websites - news bulletins, in a heading in a newspaper.
        </h6>

    </div>
    <div class="myfoto">
        <img src="{% static 'main/img/I.jpg' %}" alt="i">
    </div>
    <h2><i class="bi bi-telephone-inbound"></i>+3752914112..</h2>
{% endblock %}
