

aside {
    float: left;
    background: black;
    width: 16%;
    padding: 1%;
    height: 120vh;
    color: #fff;
    border-right: 5px solid white;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 20px;
    color: #fff;
    font-family: serif;
    margin-left: 5%;
    font-weight: bold;
    position: relative;
    top: 8px;
}

aside h3 {
    margin-top: 25px;
    font-size: 28px;
    font-family: serif;
}

aside ul {list-style: none;}

aside ul li {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a {
    color: gold;
    text-decoration: none;
    transform: scale(1.05);
}


main .features {
    float: left;
    color: ghostwhite;
    margin-top: 20px;
    text-align: center;
    width: 82%;
}

main .features h1 {
    font-size: 50px;
    font-family: Trattatello, fantasy;
    color: floralwhite;
    margin-bottom: 60px;
}
main .features p {

    margin: 40px auto;
    font-family: monospace;
    color: dark;
    font-size: 20px;
}

.alert-dark {
    float: center;
    clear: both;
    width: 600px;
    margin: 20px 26%;
    text-align: left;
}

form {
    margin-left: 26%;
    width: 600px;
    margin-top: 50px;
}

main .myfoto img {
    width: 350px;
    margin-left: 20px;
    margin-top: 30px;
}
main h2 {
    font-size: 100px;
    color: #fff;
    font-family: serif;
    margin-left: 45%;
    font-weight: bold;
    position: relative;
    top: -140px;
}
.alert-light {
    margin: 20px;
    text-align: left;
}

header container .li {
    font-size: 100px;
}
.contakt ul {
    list-style: none;
}

.contakt ul li {
    color: #fff;
    font-size: 60px;
    transition: transform .6s ease;
    float: left;
    font-family: serif;
    margin-left: 110px;
}

.contakt ul li:hover, .contakt ul a {
    color: #ccffff;
    transform: scale(1.02);
    text-decoration: none;
}

main h6 {
    font-size: 25px;
    text-align: left;
    margin: 20px;
    font-family: serif;
    color: 	#d9d9d9;
}

main .about-foto img {
    width: 400px;
    margin-left: 20px;
}

main .about-text p {
    color: #d9d9d9;
    font-family: monospace;
    text-align: left;
    margin-left: 45%;
    margin-top: -240px;
    font-size: 20px;
}